<div class="container-fluid portfolio">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="portfolio-heading">Projects</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 effect">
			<div class="picture-box">
				<img src="/content/img/warrior2.jpg" alt="A picture of PHP code" class="project-img">
				<div class="pic-overlay">
					<a href="http://warriorprivatesecurity.com/#/" target="_blank" class="expand">+</a>
				</div>
				<h3 class="pic-sub-header">Warrior Security</h3>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 effect">
			<div class="picture-box">
				<img src="/content/img/swift.png" alt="A picture of PHP code" class="project-img">
				<div class="pic-overlay">
					<a href="https://github.com/aschambers/Swift-Shift" target="_blank" class="expand">+</a>
				</div>
				<h3 class="pic-sub-header">Swift Shift</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 effect">
			<div class="picture-box">
				<img src="/content/img/gkb.png" alt="A picture of Good Karma Bikes" class="project-img">
				<div class="pic-overlay">
					<a href="https://github.com/amritakc/gkb_backend" target="_blank" class="expand">+</a>
				</div>
				<h3 class="pic-sub-header">Good Karma Bikes</h3>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 effect">
			<div class="picture-box">
				<img src="/content/img/alexaskills.jpg" alt="A picture of project code" class="project-img">
				<div class="pic-overlay">
					<a href="https://github.com/aschambers/Hackathon_Alexa_Skill" target="_blank" class="expand">+</a>
				</div>
				<h3 class="pic-sub-header">Alexa Skills Challenge</h3>
			</div>
		</div>
	</div>
</div>