<section class="main-content">
	<h2>About Me</h2>
	<div class="social-icons-wrapper">
		<a target="_blank" class="btn btn-social-icon btn-lg btn-github social-links" href="https://github.com/aschambers"><i class="fa fa-github"></i></a>
		<a target="_blank" class="btn btn-social-icon btn-lg btn-facebook social-links" href="https://www.facebook.com/alan.schambers.1"><i class="fa fa-facebook"></i></a>
		<a target="_blank" class="btn btn-social-icon btn-lg btn-linkedin social-links" href="https://www.linkedin.com/in/alan-schambers-b088778a"><i class="fa fa-linkedin"></i></a>
	</div>
	<p>I am a full stack web developer who has learned a substantial amount in a short duration of time. I always enjoy helping other and would love to help you develop a user-friendly and state of the art web application. I'm extremely creative and have a natural ability for this type of work but also have other hobbies and interests which include:  </p>
	<ul>
		<li>Enjoying the company of friends and family</li>
		<li>Writing javascript while waiting for coffee at starbucks</li>
		<li>Thinking of new and creative ways to accomplish daily tasks</li>
		<li>Competing at video game competitions</li>
		<li>Running marathons and participating in triathlons</li>
		<li>Going on hikes and ski expeditions with my Dad</li>
	</ul>
	<p>Since I've been a web developer, I've become very passionate about building web applications that are both pleasing to the eye and reliable. When I stay focused, calm and determined, I have found I can get through any challenge that comes my way. 
	Thought there have been some very high waves, I can look back on those times and tell myself I can accomplish anything. One of the things I love so much about coding is the feeling of solving difficult problems and admiring your hard work. I'm extremely excited to see what the future holds. If you have a spot for me on your team, please don't hesitate to drop me a line.</p>
</section>
