<div class="container-fluid technology">
	<div class="row">
		<div class="col-xs-12">
			<h1>Technologies</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<section class="tech-box">
				<i class="fa fa-html5 fa-5x tech-icon" aria-hidden="true" ng-click="vm.setRepo('html5')"></i>
				<section class="tech-title">
					<h3>HTML5</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<i class="fa fa-css3 fa-5x tech-icon" aria-hidden="true" ng-click="vm.setRepo('css3')"></i>
				<section class="tech-title">
					<h3>CSS3</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('php')">
					<img class="tech-pic" src="/content/img/phpicon.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'php'">
					<a href="https://github.com/aschambers/Great_Number_Game">Great Number Game</a>
					<a href="https://github.com/aschambers/Quoting_Dojo">Quoting Dojo</a>
					<a href="https://github.com/aschambers/Exams">Pokes Assignment</a>
				</section>
				<section class="tech-title">
					<h3>PHP</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('js')">
					<img class="tech-pic" src="/content/img/js_icon.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'js'">
					<a href="https://github.com/aschambers/Hackathon_Alexa_Skill">Hackathon Alexa Skills</a>
					<a href="https://github.com/aschambers/ORAS_Pokemon_Damage_Calculator">Damage Calculator</a>
					<a href="https://github.com/aschambers/DK_Barrel_Blast">DK Barrel Blast Mini Game</a>
				</section>
				<section class="tech-title">
					<h3>JavaScript</h3>
				</section>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('python')">
					<img class="tech-pic" src="/content/img/pythonico.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'python'">
					<a href="https://github.com/aschambers/Swift-Shift">Swift Shift</a>
					<a href="https://github.com/aschambers/Pokemon_pip_modules">Pokemon Pip Module</a>
				</section>
				<section class="tech-title">
					<h3>Python</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('react')">
					<img class="tech-pic" src="/content/img/react.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'react'">
					<a href="https://github.com/aschambers/Redux_Test" target="_blank">Reduxstagram</a>
					<a href="https://github.com/aschambers/react_ninja_gold">Ninja Gold</a>
					<a href="https://github.com/aschambers/react_checkerboard" target="_blank">Checkerboard</a>
				</section>
				<section class="tech-title">
					<h3>React&Redux</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('angular')">
					<img class="tech-pic" src="/content/img/anguico.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'angular'">
					<a href="https://github.com/aschambers/Warrior_Security_Angular">Warrior Security</a>
					<a href="https://github.com/aschambers/bucket_list">Bucket List</a>
					<a href="https://github.com/aschambers/players_teams">Players and Teams</a>
				</section>
				<section class="tech-title">
					<h3>AngularJS</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('django')">
					<img class="tech-pic" src="/content/img/prog_django.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'django'">
					<a href="https://github.com/aschambers/disappearingninja">Disappearing Ninja</a>
					<a href="https://github.com/aschambers/timedisplay">Time Display</a>
				</section>
				<section class="tech-title">
					<h3>Django</h3>
				</section>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('flask')">
					<img class="tech-pic" src="/content/img/flask.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'flask'">
					<a href="https://github.com/aschambers/full_friends">Full Friends</a>
					<a href="https://github.com/aquang9124/flask_wall_test">The Wall</a>
				</section>
				<section class="tech-title">
					<h3>Flask</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/mysqlico.png">
				</div>
				<section class="tech-title">
					<h3>MySQL</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/dbs_postgresql.png">
				</div>
				<section class="tech-title">
					<h3>PostgreSQL</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/nodejs.png">
				</div>
				<section class="tech-title">
					<h3>NodeJS</h3>
				</section>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/apache_server.png">
				</div>
				<section class="tech-title">
					<h3>Apache</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/dbs_mongodb.png">
				</div>
				<section class="tech-title">
					<h3>MongoDB</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/bootstrap.png">
				</div>
				<section class="tech-title">
					<h3>Bootstrap</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/jquery.png">
				</div>
				<section class="tech-title">
					<h3>jQuery</h3>
				</section>
			</section>
		</div>
	</div>
</div>