/*iPhone 5*/
@media all and (min-device-width: 0px) and (max-device-width: 359.8px) {
	@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
	html, body {
	    width: 100%;
	    height: 110%;
	    margin: 0;
	    padding: 0;
	    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 1em; 
	    background-color:#CCCCCC;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:50em;
		margin-top:10em;
	}
	.container {
		position:relative;
		width:32em;
		height:15em;
		margin-top:-25em;
		margin-left:-37em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		/*-webkit-transform: rotateY(180deg);*/
	}
	.container {
		width: 32em;
		height:15em;
		/*-webkit-perspective: 1000;*/
	}
	.card {
		width: 32em; 
		height: 15em;
		/*-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;*/
	}
	.container:hover .card {
		/*-webkit-transform: rotateY(180deg);	*/			
	}
	.face {
		position: absolute;
		/*-webkit-backface-visibility: hidden;*/
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
		display:none;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:15em;
		width:15em;
		margin-top:2em;
		margin-left:36em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.alantxt {
		font-size:2em;
		margin-top:1em;
		margin-left:0em;
		width:33em;
	}
	#line {
		margin-top:0em;
		width:100%;
		margin-left:0em;
		color:white;
	}
	#accordians {
		position:absolute;
		margin-left:9.1em;
		margin-top:-11.2em;
		width:66em;
	}
	#gkb {
		margin-left:-49em;
		margin-right:-1.5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#pokedex {
		margin-top:-11em;
		margin-left:1.1em;
		margin-right:-48em;
		height:15em;
		width:15em;
	}
	#swiftshift {
		margin-top:-3em;
		height:30em;
		width:23em;
		margin-left:-1em;
		margin-right:3em;
	}
	#warrior {
		margin-left:-5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#tech-skills-header {
		position:relative;
		margin-top:8em;
		margin-bottom:-5em;
		margin-left:0em;
		color:#669999;
	}
	#tech-skills {
		position:relative;
		width:115%;
		margin-left:0em;
		margin-right:0em;
		margin-top:15em;
		margin-bottom:-5em;
		width:80%;
	}
	#angular {
		margin-left:1em;
		width:5em;
		height:5em;
	}	
	#bootstrap {
		margin:1em;
		width:5em;
		height:5em;
	}
	#codeigniter {
		margin:1em;
		width:5em;
		height:5em;
	}
	#css {
		margin:1em;
		width:5em;
		height:5em;
	}
	#django {
		margin:1em;
		width:5em;
		height:5em;
	}
	#express {
		margin:1em;
		width:5em;
		height:5em;
	}
	#flask {
		margin:1em;
		width:5em;
		height:5em;
	}
	#github {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#html {
		margin:1em;
		width:5em;
		height:5em;
	}
	#jquery {
		margin:1em;
		width:5em;
		height:5em;
	}
	#js {
		margin:1em;
		width:5em;
		height:5em;
	}
	#mongodb {
		margin:1em;
		width:5em;
		height:5em;
	}
	#nodejs {
		margin:1em;
		width:5em;
		height:5em;
	}
	#php {
		margin:1em;
		width:5em;
		height:5em;
	}
	#python {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#mysql {
		margin:1em;
		width:5em;
		height:5em;
	}
	#apache {
		margin:1em;
		width:5em;
		height:5em;
	}
	#aws {
		margin:1em;
		width:5em;
		height:5em;
	}
	#waterfall {
		background-image: url("/img/waterfall.gif");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height:100%;	
		width:139%;
		padding-bottom:45em;
	}
}
/*Galaxy S6*/
@media all and (min-device-width: 359.9px) and (max-device-width: 400px) {
	@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
	html, body {
	    width: 100%;
	    height: 120%;
	    margin: 0;
	    padding: 0;
	    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 1em; 
	    background-color:#CCCCCC;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:50em;
		margin-top:10em;
	}
	.container {
		position:relative;
		width:32em;
		height:15em;
		margin-top:-25em;
		margin-left:-35em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		/*-webkit-transform: rotateY(180deg);*/
	}
	.container {
		width: 32em;
		height:15em;
		/*-webkit-perspective: 1000;*/
	}
	.card {
		width: 32em; 
		height: 15em;
		/*-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;*/
	}
	.container:hover .card {
		/*-webkit-transform: rotateY(180deg);		*/		
	}
	.face {
		position: absolute;
		/*-webkit-backface-visibility: hidden;*/
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
		display:none;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:15em;
		width:15em;
		margin-top:2em;
		margin-left:40em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.alantxt {
		font-size:2em;
		margin-top:1em;
		margin-left:2.2em;
		width:33em;
	}
	#line {
		margin-top:0em;
		width:100%;
		margin-left:0em;
		color:white;
	}
	#accordians {
		position:absolute;
		margin-left:11em;
		margin-top:-11.2em;
		width:66em;
	}
	#gkb {
		margin-left:-42.5em;
		margin-right:-1.5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#pokedex {
		margin-top:-11em;
		margin-left:1.1em;
		margin-right:-48em;
		height:15em;
		width:15em;
	}
	#swiftshift {
		margin-top:-3em;
		height:30em;
		width:23em;
		margin-left:-1em;
		margin-right:3em;
	}
	#warrior {
		margin-left:-5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#tech-skills-header {
		position:relative;
		margin-top:9em;
		margin-bottom:-5em;
		margin-left:1em;
		color:#669999;
	}
	#tech-skills {
		position:relative;
		margin-left:0em;
		margin-right:-3em;
		margin-top:12em;
		margin-bottom:-5em;
		width:80%;
	}
	#angular {
		margin-left:1em;
		width:5em;
		height:5em;
	}	
	#bootstrap {
		margin:1em;
		width:5em;
		height:5em;
	}
	#codeigniter {
		margin:1em;
		width:5em;
		height:5em;
	}
	#css {
		margin:1em;
		width:5em;
		height:5em;
	}
	#django {
		margin:1em;
		width:5em;
		height:5em;
	}
	#express {
		margin:1em;
		width:5em;
		height:5em;
	}
	#flask {
		margin:1em;
		width:5em;
		height:5em;
	}
	#github {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#html {
		margin:1em;
		width:5em;
		height:5em;
	}
	#jquery {
		margin:1em;
		width:5em;
		height:5em;
	}
	#js {
		margin:1em;
		width:5em;
		height:5em;
	}
	#mongodb {
		margin:1em;
		width:5em;
		height:5em;
	}
	#nodejs {
		margin:1em;
		width:5em;
		height:5em;
	}
	#php {
		margin:1em;
		width:5em;
		height:5em;
	}
	#python {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#mysql {
		margin:1em;
		width:5em;
		height:5em;
	}
	#apache {
		margin:1em;
		width:5em;
		height:5em;
	}
	#aws {
		margin:1em;
		width:5em;
		height:5em;
	}
	#waterfall {
		background-image: url("/img/waterfall.gif");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height:100%;	
		width:134%;
		padding-bottom:40em;
	}
}
/*Nexus 5X*/
@media all and (min-device-width: 400.1px) and (max-device-width: 412px) {
	@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
	html, body {
	    width: 100%;
	    height: 120%;
	    margin: 0;
	    padding: 0;
	    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 1em; 
	    background-color:#CCCCCC;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:50em;
		margin-top:10em;
	}
	.container {
		position:relative;
		width:32em;
		height:15em;
		margin-top:-25em;
		margin-left:-33em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		/*-webkit-transform: rotateY(180deg);*/
	}
	.container {
		width: 32em;
		height:15em;
		/*-webkit-perspective: 1000;*/
	}
	.card {
		width: 32em; 
		height: 15em;
		/*-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;*/
	}
	.container:hover .card {
		/*-webkit-transform: rotateY(180deg);			*/	
	}
	.face {
		position: absolute;
		/*-webkit-backface-visibility: hidden;*/
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
		display:none;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:15em;
		width:15em;
		margin-top:2em;
		margin-left:46em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.alantxt {
		font-size:2em;
		margin-top:1em;
		margin-left:4em;
		width:33em;
	}
	#line {
		margin-top:0em;
		width:100%;
		margin-left:0em;
		color:white;
	}
	#accordians {
		position:absolute;
		margin-left:14.5em;
		margin-top:-11.2em;
		width:66em;
	}
	#gkb {
		margin-left:-40.5em;
		margin-right:-1.5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#pokedex {
		margin-top:-10em;
		margin-left:1.1em;
		margin-right:-48em;
		height:15em;
		width:15em;
	}
	#swiftshift {
		margin-top:-3em;
		height:30em;
		width:23em;
		margin-left:-1em;
		margin-right:3em;
	}
	#warrior {
		margin-left:-5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#tech-skills-header {
		position:relative;
		margin-top:8em;
		margin-bottom:-5em;
		margin-left:7em;
		color:#669999;
	}
	#tech-skills {
		position:relative;
		margin-left:2em;
		margin-right:-7em;
		margin-top:11em;
		margin-bottom:-5em;
		width:80%;
	}
	#angular {
		margin-left:1em;
		width:5em;
		height:5em;
	}	
	#bootstrap {
		margin:1em;
		width:5em;
		height:5em;
	}
	#codeigniter {
		margin:1em;
		width:5em;
		height:5em;
	}
	#css {
		margin:1em;
		width:5em;
		height:5em;
	}
	#django {
		margin:1em;
		width:5em;
		height:5em;
	}
	#express {
		margin:1em;
		width:5em;
		height:5em;
	}
	#flask {
		margin:1em;
		width:5em;
		height:5em;
	}
	#github {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#html {
		margin:1em;
		width:5em;
		height:5em;
	}
	#jquery {
		margin:1em;
		width:5em;
		height:5em;
	}
	#js {
		margin:1em;
		width:5em;
		height:5em;
	}
	#mongodb {
		margin:1em;
		width:5em;
		height:5em;
	}
	#nodejs {
		margin:1em;
		width:5em;
		height:5em;
	}
	#php {
		margin:1em;
		width:5em;
		height:5em;
	}
	#python {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#mysql {
		margin:1em;
		width:5em;
		height:5em;
	}
	#apache {
		margin:1em;
		width:5em;
		height:5em;
	}
	#aws {
		margin:1em;
		width:5em;
		height:5em;
	}
	#waterfall {
		background-image: url("/img/waterfall.gif");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height:100%;	
		width:142%;
		padding-bottom:55em;
	}
}
/*Nexus 5X*/
@media all and (min-device-width: 412.1px) and (max-device-width: 420px) {
	@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
	html, body {
	    width: 100%;
	    height: 90%;
	    margin: 0;
	    padding: 0;
	    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 1em; 
	    background-color:#CCCCCC;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:50em;
		margin-top:10em;
	}
	.container {
		position:relative;
		width:32em;
		height:15em;
		margin-top:-25em;
		margin-left:-36em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		/*-webkit-transform: rotateY(180deg);*/
	}
	.container {
		width: 32em;
		height:15em;
		/*-webkit-perspective: 1000;*/
	}
	.card {
		width: 32em; 
		height: 15em;
		/*-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;*/
	}
	.container:hover .card {
		/*-webkit-transform: rotateY(180deg);				*/
	}
	.face {
		position: absolute;
		/*-webkit-backface-visibility: hidden;*/
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
		display:none;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:15em;
		width:15em;
		margin-top:2em;
		margin-left:37em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.alantxt {
		font-size:2em;
		margin-top:1em;
		margin-left:1em;
		width:33em;
	}
	#line {
		margin-top:0em;
		width:100%;
		margin-left:0em;
		color:white;
	}
	#accordians {
		position:absolute;
		margin-left:10em;
		margin-top:-11.2em;
		width:66.4em;
	}
	#gkb {
		margin-left:-48em;
		margin-right:-1.5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#pokedex {
		margin-top:-10em;
		margin-left:1.1em;
		margin-right:-48em;
		height:15em;
		width:15em;
	}
	#swiftshift {
		margin-top:-3em;
		height:30em;
		width:23em;
		margin-left:-1em;
		margin-right:3em;
	}
	#warrior {
		margin-left:-5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#tech-skills-header {
		color:#669999;
		position:relative;
		margin-top:8em;
		margin-bottom:-3em;
		margin-left:1em;
	}
	#tech-skills {
		position:relative;
		margin-top:7em;
		margin-bottom:-5em;
		width:80%;
	}
	#angular {
		margin-left:1em;
		width:5em;
		height:5em;
	}	
	#bootstrap {
		margin:1em;
		width:5em;
		height:5em;
	}
	#codeigniter {
		margin:1em;
		width:5em;
		height:5em;
	}
	#css {
		margin:1em;
		width:5em;
		height:5em;
	}
	#django {
		margin:1em;
		width:5em;
		height:5em;
	}
	#express {
		margin:1em;
		width:5em;
		height:5em;
	}
	#flask {
		margin:1em;
		width:5em;
		height:5em;
	}
	#github {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#html {
		margin:1em;
		width:5em;
		height:5em;
	}
	#jquery {
		margin:1em;
		width:5em;
		height:5em;
	}
	#js {
		margin:1em;
		width:5em;
		height:5em;
	}
	#mongodb {
		margin:1em;
		width:5em;
		height:5em;
	}
	#nodejs {
		margin:1em;
		width:5em;
		height:5em;
	}
	#php {
		margin:1em;
		width:5em;
		height:5em;
	}
	#python {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#mysql {
		margin:1em;
		width:5em;
		height:5em;
	}
	#apache {
		margin:1em;
		width:5em;
		height:5em;
	}
	#aws {
		margin:1em;
		width:5em;
		height:5em;
	}
	#waterfall {
		background-image: url("/img/waterfall.gif");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height:100%;	
		width:139%;
		padding-bottom:47em;
	}
}
/*Nexus 6P*/
@media all and (min-device-width: 420.1px) and (max-device-width: 679.9px) {
	@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
	html, body {
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 1em; 
	    background-color:#CCCCCC;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:50em;
		margin-top:10em;
	}
	.container {
		position:relative;
		width:32em;
		height:15em;
		margin-top:-25em;
		margin-left:-36em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		/*-webkit-transform: rotateY(180deg);*/
	}
	.container {
		width: 32em;
		height:15em;
		/*-webkit-perspective: 1000;*/
	}
	.card {
		width: 32em; 
		height: 15em;
		/*-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;*/
	}
	.container:hover .card {
		/*-webkit-transform: rotateY(180deg);			*/	
	}
	.face {
		position: absolute;
		/*-webkit-backface-visibility: hidden;*/
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
		display:none;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:15em;
		width:15em;
		margin-top:2em;
		margin-left:42em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.alantxt {
		font-size:2em;
		margin-top:1em;
		margin-left:2em;
		width:33em;
	}
	#accordians {
		position:absolute;
		margin-left:11.1em;
		margin-top:-11.2em;
		width:66em;
	}
	#gkb {
		margin-left:-46em;
		margin-right:-1.5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#pokedex {
		margin-top:-11em;
		margin-left:1.1em;
		margin-right:-48em;
		height:15em;
		width:15em;
	}
	#swiftshift {
		margin-top:-3em;
		height:30em;
		width:23em;
		margin-left:-1em;
		margin-right:3em;
	}
	#warrior {
		margin-left:-5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#tech-skills-header {
		color:#669999;
		position:relative;
		margin-top:8em;
		margin-bottom:-2em;
		margin-left:2em;
	}
	#tech-skills {
		position:relative;
		margin-left:2em;
		margin-right:-3em;
		margin-top:6em;
		margin-bottom:-5em;
		width:80%;
	}
	#angular {
		margin-left:1em;
		width:5em;
		height:5em;
	}	
	#bootstrap {
		margin:1em;
		width:5em;
		height:5em;
	}
	#codeigniter {
		margin:1em;
		width:5em;
		height:5em;
	}
	#css {
		margin:1em;
		width:5em;
		height:5em;
	}
	#django {
		margin:1em;
		width:5em;
		height:5em;
	}
	#express {
		margin:1em;
		width:5em;
		height:5em;
	}
	#flask {
		margin:1em;
		width:5em;
		height:5em;
	}
	#github {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#html {
		margin:1em;
		width:5em;
		height:5em;
	}
	#jquery {
		margin:1em;
		width:5em;
		height:5em;
	}
	#js {
		margin:1em;
		width:5em;
		height:5em;
	}
	#mongodb {
		margin:1em;
		width:5em;
		height:5em;
	}
	#nodejs {
		margin:1em;
		width:5em;
		height:5em;
	}
	#php {
		margin:1em;
		width:5em;
		height:5em;
	}
	#python {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#mysql {
		margin:1em;
		width:5em;
		height:5em;
	}
	#apache {
		margin:1em;
		width:5em;
		height:5em;
	}
	#aws {
		margin:1em;
		width:5em;
		height:5em;
	}
	#waterfall {
		background-image: url("/img/waterfall.gif");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height:100%;	
		width:139%;
		padding-bottom:46em;
	}
}
/*iPad*/
@media all and (min-device-width: 680.1px) and (max-device-width: 1120px) {
	@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
	html, body {
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 1em; 
	    background-color:#CCCCCC;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:50em;
		margin-top:10em;
	}
	.container {
		position:relative;
		width:32em;
		height:15em;
		margin-top:-25em;
		margin-left:-33em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:15em;
		width:15em;
		margin-top:2em;
		margin-left:38em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.alantxt {
		font-size:2em;
		margin-top:1em;
		margin-left:2em;
		width:33em;
	}
	#line {
		margin-top:0em;
		width:100%;
		margin-left:0em;
		color:white;
	}
	#accordians {
		position:absolute;
		margin-left:9.1em;
		margin-top:-11.4em;
		width:66em;
	}
	#gkb {
		margin-left:-46em;
		margin-right:-1.5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#pokedex {
		margin-top:-11em;
		margin-left:1.1em;
		margin-right:-48em;
		height:15em;
		width:15em;
	}
	#swiftshift {
		margin-top:-3em;
		height:30em;
		width:23em;
		margin-left:-1em;
		margin-right:3em;
	}
	#warrior {
		margin-left:-5em;
		margin-top:-10.9em;
		height:15em;
		width:15em;
	}
	#tech-skills-header {
		color:#669999;
		position:relative;
		margin-top:8em;
		margin-bottom:-5em;
		margin-left:1em;
	}
	#tech-skills {
		position:relative;
		margin-left:5em;
		margin-right:3em;
		margin-top:12em;
		margin-bottom:-5em;
		width:80%;
	}
	#angular {
		margin-left:1em;
		width:5em;
		height:5em;
	}	
	#bootstrap {
		margin:1em;
		width:5em;
		height:5em;
	}
	#codeigniter {
		margin:1em;
		width:5em;
		height:5em;
	}
	#css {
		margin:1em;
		width:5em;
		height:5em;
	}
	#django {
		margin:1em;
		width:5em;
		height:5em;
	}
	#express {
		margin:1em;
		width:5em;
		height:5em;
	}
	#flask {
		margin:1em;
		width:5em;
		height:5em;
	}
	#github {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#html {
		margin:1em;
		width:5em;
		height:5em;
	}
	#jquery {
		margin:1em;
		width:5em;
		height:5em;
	}
	#js {
		margin:1em;
		width:5em;
		height:5em;
	}
	#mongodb {
		margin:1em;
		width:5em;
		height:5em;
	}
	#nodejs {
		margin:1em;
		width:5em;
		height:5em;
	}
	#php {
		margin:1em;
		width:5em;
		height:5em;
	}
	#python {
		margin-left:1em;
		width:5em;
		height:5em;
	}
	#mysql {
		margin:1em;
		width:5em;
		height:5em;
	}
	#apache {
		margin:1em;
		width:5em;
		height:5em;
	}
	#aws {
		margin:1em;
		width:5em;
		height:5em;
	}
	#waterfall {
		background-image: url("/img/waterfall.gif");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height:100%;	
		width:134%;
		padding-bottom:28em;
	}
}
/*Medium Screen Sizes*/
@media all and (min-device-width: 1120.1px) and (max-device-width: 1439.9px){
	@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
	html, body {
	    width: 100%;
	    height: 150%;
	    margin: 0;
	    padding: 0;
	    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 1em; 
	    background-color:#CCCCCC;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:43em;
		margin-top:10em;
	}
	.container {
		position:relative;
		width:32em;
		height:15em;
		margin-top:-25em;
		margin-left:-33em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:15em;
		width:15em;
		margin-top:2em;
		margin-left:33em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.alantxt {
		font-size:0.9em;
		margin-top:1em;
		margin-left:-3em;
		width:68em;
	}
	#line {
		margin-top:0em;
		width:100%;
		margin-left:0em;
		color:white;
	}
	#accordians {
		position:absolute;
		margin-left:8em;
		margin-top:-9em;
		width:62em;
	}
	#gkb {
		margin-left:-1em;
		margin-top:-7.5em;
		height:12em;
		width:12em;
	}
	#pokedex {
		margin-top:-7.5em;
		margin-left:4em;
		height:12em;
		width:12em;
	}
	#swiftshift {
		margin-top:-1em;
		height:23.8em;
		width:19em;
		margin-left:1em;
	}
	#warrior {
		margin-left:1em;
		margin-top:-7.5em;
		height:12em;
		width:12em;
	}
	#tech-skills-header {
		color:#669999;
		position:relative;
		margin-top:10em;
	}
	#tech-skills {
		position:relative;
		margin-top:3em;
	}
	#angular {
		margin:2em;
		width:8em;
		height:8em;
	}	
	#bootstrap {
		margin:2em;
		width:8em;
		height:8em;
	}
	#codeigniter {
		margin:2em;
		width:8em;
		height:8em;
	}
	#css {
		margin:2em;
		width:8em;
		height:8em;
	}
	#django {
		margin:2em;
		width:8em;
		height:8em;
	}
	#express {
		margin:2em;
		width:8em;
		height:8em;
	}
	#flask {
		margin:2em;
		width:8em;
		height:8em;
	}
	#github {
		margin:2em;
		width:8em;
		height:8em;
	}
	#html {
		margin:2em;
		width:8em;
		height:8em;
	}
	#jquery {
		margin:2em;
		width:8em;
		height:8em;
	}
	#js {
		margin:2em;
		width:8em;
		height:8em;
	}
	#mongodb {
		margin:2em;
		width:8em;
		height:8em;
	}
	#nodejs {
		margin:2em;
		width:8em;
		height:8em;
	}
	#php {
		margin:2em;
		width:8em;
		height:8em;
	}
	#python {
		margin:2em;
		width:8em;
		height:8em;
	}
	#mysql {
		margin:2em;
		width:8em;
		height:8em;
	}
	#apache {
		margin:2em;
		width:8em;
		height:8em;
	}
	#aws {
		margin:2em;
		width:8em;
		height:8em;
	}
	#waterfall {
		background-image: url("/img/waterfall.gif");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height:100%;	
		padding-bottom:12em;
	}
}
/*Large Screen Sizes*/
@media all and (min-device-width: 1440px){
	@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
	html, body {
	    width: 100%;
	    height: 130%;
	    margin: 0;
	    padding: 0;
	    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 1em; 
	    background-color:#CCCCCC;
	    z-index:-1;
	    position:relative;
	}
	#reverse {
		width:32em;
		margin-left:43em;
		margin-top:10em;
		position: relative; 
		z-index:1;
	}
	.container {
		position: relative; 
		z-index:1;
		width:32em;
		height:15em;
		margin-top:-25em;
		margin-left:-33em;
	}
	.front .back {
		position: relative; 
		z-index:1;
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		position: relative; 
		z-index:1;
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		position: relative; 
		z-index:1;
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		position: relative; 
		z-index:1;
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		z-index:1;
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 1;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		position: relative; 
		z-index:1;
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:15em;
		width:15em;
		position:relative;
		z-index:1;
		margin-top:2em;
		margin-left:33em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.alantxt {
		position:relative;
		z-index:1;
		font-size:0.9em;
		margin-top:1em;
		margin-left:-3em;
		width:80em;
		color:#181818;
	}
	#line {
		margin-top:0em;
		width:100%;
		margin-left:0em;
		color:white;
	}
	#accordians {
		position:absolute;
		margin-left:8.6em;
		margin-top:-18.2em;
		width:102em;
		z-index:1;
	}
	#gkb {
		position:relative;
		z-index:1;
		margin-top:-17.9em;
		height:24em;
		width:24em;
	}
	#pokedex {
		position:relative;
		z-index:1;
		margin-top:-17.9em;
		margin-left:1.1em;
		height:24em;
		width:24em;
	}
	#swiftshift {
		position:relative;
		z-index:1;
		margin-top:-5em;
		height:47.8em;
		width:38em;
		margin-left:-5em;
	}
	#warrior {
		position:relative;
		z-index:1;
		margin-left:-5em;
		margin-top:-17.9em;
		height:24em;
		width:24em;
	}
	#tech-skills-header {
		font-size:3em;
		position:relative;
		margin-top:3em;
		color:#669999;
	}
	#tech-skills {
		position:relative;
		margin-top:2em;
	}
	#angular {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}	
	#bootstrap {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#codeigniter {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#css {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#django {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#express {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#flask {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#github {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#html {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#jquery {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#js {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#mongodb {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#nodejs {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#php {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#python {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#mysql {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#apache {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#aws {
		margin:2em;
		width:8em;
		height:8em;
		position:relative;
		z-index:1;
	}
	#waterfall {
		background-image: url("/img/waterfall.gif");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height:100%;	
		padding-bottom:10em;
	}
}