/* devices smaller than iphone5 */
@media all and (min-device-width: 1px) and (max-device-width: 320px); {
	body {
		font-family: Helvetica, Arial, Sans-Serif;
		width:100%;
		height:100em;
		background-color:#C8C8C8;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:40em;
		margin-top:0em;
	}
	.container {
		width:32em;
		height:15em;
		margin-top:-36em;
		margin-left:-31.1em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:80%;
		width:42%;
		margin-top:2em;
		margin-left:3em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.contme {
		margin-left:1em;
		margin-top:-12em;
		width:16em;
	}
	.alantxt {
		font-size:0.75em;
		margin-top:25em;
		width:45em;
		margin-left:-29em;
	}
	#line {
		margin-top:-18em;
		width:132em;
		margin-left:-37em;
	}
	.accordion-test {
 		padding: 20px;
  		width: 780px;
	}
	#accordians {
		margin-left:0em;
		width:54.5em;
		margin-top:-61em;
	}
	#pokedex {
		position:relative;
		z-index:10;
		margin-left:1em;
		margin-top:37.5em;
		height:22em;
		width:30em;
	}
	#gkb {
		position:relative;
		z-index:10;
		margin-left:-32em;
		margin-top:-41.2em;
		height:18em;
		width:30em;
	}
	#swiftshift {
		margin-top:5.7em;
		margin-left:-38em;
		height:35em;
		width:45em;
	}
	#warrior {
		margin-top:38em;
		margin-left:-37.5em;
		height:22em;
		width:30em;
	}
	#angular {
		width:6em;
		height:6em;
		margin-left:21em;
		margin-top:-18.5em;
	}	
	#bootstrap {
		width:6em;
		height:6em;
		margin-left:31em;
		margin-top:-22em;
	}
	#codeigniter {
		width:6em;
		height:6em;
		margin-left:21em;
		margin-top:1.5em;
	}
	#css {
		width:6em;
		height:6em;
		margin-left:39.5em;
		margin-top:-41.5em;
	}
	#django {
		width:6em;
		height:6em;
		margin-left:47em;
		margin-top:-44em;
	}
	#express {
		width:6em;
		height:6em;
		margin-left:55em;
		margin-top:-47.8em;
	}
	#flask {
		width:6em;
		height:6em;
		margin-left:21.1em;
		margin-top:-35.7em;
	}
	#github {
		width:6em;
		height:6em;
		margin-left:31em;
		margin-top:-39.5em;
	}
	#html {
		width:6em;
		height:6em;
		margin-left:39.5em;
		margin-top:-43.5em;
	}
	#jquery {
		width:6em;
		height:6em;
		margin-left:47.5em;
		margin-top:-14.5em;
	}
	#js {
		width:6em;
		height:6em;
		margin-left:55em;
		margin-top:-34em;
	}
	#mongodb {
		width:6em;
		height:6em;
		margin-left:55em;
		margin-top:-54.2em;
	}
	#nodejs {
		width:6em;
		height:6em;
		margin-left:47em;
		margin-top:-57.5em;
	}
	#php {
		width:6em;
		height:6em;
		margin-left:47.5em;
		margin-top:-45.3em;
	}
	#python {
		width:6em;
		height:6em;
		margin-left:40em;
		margin-top:-48.5em;
	}
	#mysql {
		width:6em;
		height:6em;
		margin-left:31em;
		margin-top:-36.5em;
	}
	#apache {
		width:6em;
		height:6em;
		margin-left:31em;
		margin-top:-56.5em;
	}
	#aws {
		width:6em;
		height:6em;
		margin-left:39.5em;
		margin-top:-44.5em;
	}
	#tech {
		margin-top:-8em;
		margin-left:20.5em;
		width:15em;
	}
}
/* iphone5 */
@media all and (min-device-width: 320px) and (max-device-width: 359px){
	body {
		font-family: Helvetica, Arial, Sans-Serif;
		width:100%;
		height:100em;
		background-color:#C8C8C8;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:40em;
		margin-top:0em;
	}
	.container {
		width:32em;
		height:15em;
		margin-top:-38.5em;
		margin-left:-31.1em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:80%;
		width:42%;
		margin-top:2em;
		margin-left:3em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.contme {
		margin-left:1em;
		margin-top:-12em;
		width:16em;
	}
	.alantxt {
		font-size:0.75em;
		margin-top:25em;
		width:45em;
		margin-left:-29em;
	}
	#line {
		margin-top:-9em;
		width:132em;
		margin-left:-37em;
	}
	.accordion-test {
 		padding: 20px;
  		width: 780px;
	}
	#accordians {
		margin-left:1em;
		width:50.5em;
		margin-top:-61em;
	}
	#pokedex {
		position:relative;
		z-index:10;
		margin-left:1em;
		margin-top:37.5em;
		height:22em;
		width:30em;
	}
	#gkb {
		position:relative;
		z-index:10;
		margin-left:-31em;
		margin-top:-41.2em;
		height:18em;
		width:30em;
	}
	#swiftshift {
		margin-top:5.7em;
		margin-left:-38em;
		height:35em;
		width:45em;
	}
	#warrior {
		margin-top:38em;
		margin-left:-37.5em;
		height:22em;
		width:30em;
	}
	#angular {
		width:6em;
		height:6em;
		margin-left:20em;
		margin-top:-19.5em;
	}	
	#bootstrap {
		width:6em;
		height:6em;
		margin-left:28em;
		margin-top:-23.5em;
	}
	#codeigniter {
		width:6em;
		height:6em;
		margin-left:20em;
		margin-top:-1em;
	}
	#css {
		width:6em;
		height:6em;
		margin-left:34.5em;
		margin-top:-38em;
	}
	#django {
		width:6em;
		height:6em;
		margin-left:42em;
		margin-top:-40.5em;
	}
	#express {
		width:6em;
		height:6em;
		margin-left:28em;
		margin-top:-29.8em;
	}
	#flask {
		width:6em;
		height:6em;
		margin-left:20.1em;
		margin-top:-34.7em;
	}
	#github {
		width:6em;
		height:6em;
		margin-left:28em;
		margin-top:-24em;
	}
	#html {
		width:6em;
		height:6em;
		margin-left:34.5em;
		margin-top:-43em;
	}
	#jquery {
		width:6em;
		height:6em;
		margin-left:35.2em;
		margin-top:-14.5em;
	}
	#js {
		width:6em;
		height:6em;
		margin-left:42em;
		margin-top:-19em;
	}
	#mongodb {
		width:6em;
		height:6em;
		margin-left:20em;
		margin-top:-9.2em;
	}
	#nodejs {
		width:6em;
		height:6em;
		margin-left:42.2em;
		margin-top:-57em;
	}
	#php {
		width:6em;
		height:6em;
		margin-left:42.5em;
		margin-top:-45.5em;
	}
	#python {
		width:6em;
		height:6em;
		margin-left:35em;
		margin-top:-50em;
	}
	#mysql {
		width:6em;
		height:6em;
		margin-left:20em;
		margin-top:-38.5em;
	}
	#apache {
		width:6em;
		height:6em;
		margin-left:28em;
		margin-top:-41.5em;
	}
	#aws {
		width:6em;
		height:6em;
		margin-left:28em;
		margin-top:-32em;
	}
	#tech {
		margin-top:-8em;
		margin-left:14em;
		width:15em;
	}
}
/* Samsung Galaxy S6 */
@media all and (min-device-width: 360px) and (max-device-width: 374px){
	body {
		font-family: Helvetica, Arial, Sans-Serif;
		width:100%;
		height:100em;
		background-color:#C8C8C8;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:40em;
		margin-top:0em;
	}
	.container {
		width:32em;
		height:15em;
		margin-top:-31em;
		margin-left:-31.1em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:80%;
		width:42%;
		margin-top:2em;
		margin-left:3em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.contme {
		margin-left:1em;
		margin-top:-12em;
		width:16em;
	}
	.alantxt {
		font-size:0.75em;
		margin-top:25em;
		width:45em;
		margin-left:-29em;
	}
	#line {
		margin-top:-18em;
		width:132em;
		margin-left:-37em;
	}
	.accordion-test {
 		padding: 20px;
  		width: 780px;
	}
	#accordians {
		margin-left:0em;
		width:54.5em;
		margin-top:-61em;
	}
	#pokedex {
		position:relative;
		z-index:10;
		margin-left:1em;
		margin-top:37.5em;
		height:22em;
		width:30em;
	}
	#gkb {
		position:relative;
		z-index:10;
		margin-left:-32em;
		margin-top:-41.2em;
		height:18em;
		width:30em;
	}
	#swiftshift {
		margin-top:5.7em;
		margin-left:-38em;
		height:35em;
		width:45em;
	}
	#warrior {
		margin-top:38em;
		margin-left:-37.5em;
		height:22em;
		width:30em;
	}
	#angular {
		width:6em;
		height:6em;
		margin-left:21em;
		margin-top:-18.5em;
	}	
	#bootstrap {
		width:6em;
		height:6em;
		margin-left:31em;
		margin-top:-22em;
	}
	#codeigniter {
		width:6em;
		height:6em;
		margin-left:21em;
		margin-top:-0.5em;
	}
	#css {
		width:6em;
		height:6em;
		margin-left:39.5em;
		margin-top:-36.5em;
	}
	#django {
		width:6em;
		height:6em;
		margin-left:47em;
		margin-top:-39em;
	}
	#express {
		width:6em;
		height:6em;
		margin-left:55em;
		margin-top:-42.5em;
	}
	#flask {
		width:6em;
		height:6em;
		margin-left:21.1em;
		margin-top:-31.7em;
	}
	#github {
		width:6em;
		height:6em;
		margin-left:31em;
		margin-top:-35.5em;
	}
	#html {
		width:6em;
		height:6em;
		margin-left:39.5em;
		margin-top:-38.5em;
	}
	#jquery {
		width:6em;
		height:6em;
		margin-left:47.5em;
		margin-top:-14.5em;
	}
	#js {
		width:6em;
		height:6em;
		margin-left:55em;
		margin-top:-31em;
	}
	#mongodb {
		width:6em;
		height:6em;
		margin-left:55em;
		margin-top:-48.5em;
	}
	#nodejs {
		width:6em;
		height:6em;
		margin-left:47em;
		margin-top:-52em;
	}
	#php {
		width:6em;
		height:6em;
		margin-left:47.5em;
		margin-top:-41.7em;
	}
	#python {
		width:6em;
		height:6em;
		margin-left:40em;
		margin-top:-45.5em;
	}
	#mysql {
		width:6em;
		height:6em;
		margin-left:31em;
		margin-top:-35.5em;
	}
	#apache {
		width:6em;
		height:6em;
		margin-left:31em;
		margin-top:-52.5em;
	}
	#aws {
		width:6em;
		height:6em;
		margin-left:39.5em;
		margin-top:-42em;
	}
	#tech {
		margin-top:-8em;
		margin-left:20.5em;
		width:15em;
	}
}
/* iphone6 */
@media all and (min-device-width: 374.1px) and (max-device-width:410px){
	body {
		font-family: Helvetica, Arial, Sans-Serif;
		width:100%;
		height:100em;
		background-color:#C8C8C8;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:40em;
		margin-top:0em;
	}
	.container {
		width:32em;
		height:15em;
		margin-top:-32em;
		margin-left:-31.1em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:80%;
		width:42%;
		margin-top:5em;
		margin-left:3em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.contme {
		margin-left:1em;
		margin-top:-12em;
		width:16em;
	}
	.alantxt {
		font-size:0.7em;
		margin-top:26em;
		margin-left:-34em;
	}
	#line {
		margin-top:-15em;
		width:132em;
		margin-left:-37em;
	}
	.accordion-test {
 		padding: 20px;
  		width: 780px;
	}
	#accordians {
		margin-left:0em;
		width:48.5em;
		margin-top:-61em;
	}
	#pokedex {
		position:relative;
		z-index:10;
		margin-left:1em;
		margin-top:37.5em;
		height:22em;
		width:30em;
	}
	#gkb {
		position:relative;
		z-index:10;
		margin-left:-32em;
		margin-top:-41.2em;
		height:18em;
		width:30em;
	}
	#swiftshift {
		margin-top:5.7em;
		margin-left:-38em;
		height:35em;
		width:45em;
	}
	#warrior {
		margin-top:38em;
		margin-left:-37.5em;
		height:22em;
		width:30em;
	}
	#angular {
		width:6em;
		height:6em;
		margin-left:19em;
		margin-top:-18.5em;
	}	
	#bootstrap {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-22em;
	}
	#codeigniter {
		width:6em;
		height:6em;
		margin-left:19.2em;
		margin-top:2em;
	}
	#css {
		width:6em;
		height:6em;
		margin-left:34.5em;
		margin-top:-41.5em;
	}
	#django {
		width:6em;
		height:6em;
		margin-left:42em;
		margin-top:-44em;
	}
	#express {
		width:6em;
		height:6em;
		margin-left:50em;
		margin-top:-47.5em;
	}
	#flask {
		width:6em;
		height:6em;
		margin-left:19.2em;
		margin-top:-34.5em;
	}
	#github {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-38em;
	}
	#html {
		width:6em;
		height:6em;
		margin-left:34.5em;
		margin-top:-42em;
	}
	#jquery {
		width:6em;
		height:6em;
		margin-left:50em;
		margin-top:-44.5em;
	}
	#js {
		width:6em;
		height:6em;
		margin-left:58em;
		margin-top:-63.5em;
	}
	#mongodb {
		width:6em;
		height:6em;
		margin-left:58em;
		margin-top:-51.7em;
	}
	#nodejs {
		width:6em;
		height:6em;
		margin-left:42em;
		margin-top:-55em;
	}
	#php {
		width:6em;
		height:6em;
		margin-left:35em;
		margin-top:-42.3em;
	}
	#python {
		width:6em;
		height:6em;
		margin-left:75em;
		margin-top:-38.5em;
	}
	#mysql {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-49.5em;
	}
	#apache {
		width:6em;
		height:6em;
		margin-left:42.5em;
		margin-top:-53em;
	}
	#aws {
		width:6em;
		height:6em;
		margin-left:50.1em;
		margin-top:-56.5em;
	}
	#tech {
		margin-top:-9em;
		margin-left:21.5em;
		width:15em;
	}
}
/* Nexus 5X */
@media all and (min-device-width: 410.1px) and (max-device-width:430px){
	body {
		font-family: Helvetica, Arial, Sans-Serif;
		width:100%;
		height:100em;
		background-color:#C8C8C8;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:40em;
		margin-top:0em;
	}
	.container {
		width:32em;
		height:15em;
		margin-top:-30em;
		margin-left:-31.1em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:80%;
		width:42%;
		margin-top:5em;
		margin-left:3em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.contme {
		margin-left:1em;
		margin-top:-12em;
		width:16em;
	}
	.alantxt {
		font-size:0.7em;
		margin-top:30em;
		margin-left:-34em;
	}
	#line {
		margin-top:-15em;
		width:132em;
		margin-left:-37em;
	}
	.accordion-test {
 		padding: 20px;
  		width: 780px;
	}
	#accordians {
		margin-left:0em;
		width:70.5em;
		margin-top:-61em;
	}
	#pokedex {
		position:relative;
		z-index:10;
		margin-left:1em;
		margin-top:37.5em;
		height:22em;
		width:30em;
	}
	#gkb {
		position:relative;
		z-index:10;
		margin-left:-32em;
		margin-top:-41.2em;
		height:18em;
		width:30em;
	}
	#swiftshift {
		margin-top:5.7em;
		margin-left:-38em;
		height:35em;
		width:45em;
	}
	#warrior {
		margin-top:38em;
		margin-left:-37.5em;
		height:22em;
		width:30em;
	}
	#angular {
		width:6em;
		height:6em;
		margin-left:19em;
		margin-top:-18.5em;
	}	
	#bootstrap {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-21em;
	}
	#codeigniter {
		width:6em;
		height:6em;
		margin-left:19.2em;
		margin-top:2em;
	}
	#css {
		width:6em;
		height:6em;
		margin-left:34.5em;
		margin-top:-40.5em;
	}
	#django {
		width:6em;
		height:6em;
		margin-left:42em;
		margin-top:-43em;
	}
	#express {
		width:6em;
		height:6em;
		margin-left:50em;
		margin-top:-45.5em;
	}
	#flask {
		width:6em;
		height:6em;
		margin-left:19.2em;
		margin-top:-32.5em;
	}
	#github {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-35em;
	}
	#html {
		width:6em;
		height:6em;
		margin-left:34.5em;
		margin-top:-38em;
	}
	#jquery {
		width:6em;
		height:6em;
		margin-left:50em;
		margin-top:-41.5em;
	}
	#js {
		width:6em;
		height:6em;
		margin-left:58em;
		margin-top:-61em;
	}
	#mongodb {
		width:6em;
		height:6em;
		margin-left:58em;
		margin-top:-46.7em;
	}
	#nodejs {
		width:6em;
		height:6em;
		margin-left:42em;
		margin-top:-50em;
	}
	#php {
		width:6em;
		height:6em;
		margin-left:35em;
		margin-top:-37em;
	}
	#python {
		width:6em;
		height:6em;
		margin-left:58em;
		margin-top:-39em;
	}
	#mysql {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-43.5em;
	}
	#apache {
		width:6em;
		height:6em;
		margin-left:42.5em;
		margin-top:-45.5em;
	}
	#aws {
		width:6em;
		height:6em;
		margin-left:50.1em;
		margin-top:-48.5em;
	}
	#tech {
		margin-top:-9em;
		margin-left:21.5em;
		width:15em;
	}
}
/* Nexus 6P && iPhone 6 Plus */
@media all and (min-device-width: 430.1px) and (max-device-width:480px){
	body {
		font-family: Helvetica, Arial, Sans-Serif;
		width:100%;
		height:100em;
		background-color:#C8C8C8;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:40em;
		margin-top:0em;
	}
	.container {
		width:32em;
		height:15em;
		margin-top:-30em;
		margin-left:-31.1em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:80%;
		width:42%;
		margin-top:5em;
		margin-left:3em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.contme {
		margin-left:1em;
		margin-top:-12em;
		width:16em;
	}
	.alantxt {
		font-size:0.7em;
		margin-top:28em;
		margin-left:-34em;
	}
	#line {
		margin-top:-15em;
		width:132em;
		margin-left:-37em;
	}
	.accordion-test {
 		padding: 20px;
  		width: 780px;
	}
	#accordians {
		margin-left:0em;
		width:80.5em;
		margin-top:-61em;
	}
	#pokedex {
		position:relative;
		z-index:10;
		margin-left:1em;
		margin-top:37.5em;
		height:22em;
		width:30em;
	}
	#gkb {
		position:relative;
		z-index:10;
		margin-left:-32em;
		margin-top:-41.2em;
		height:18em;
		width:30em;
	}
	#swiftshift {
		margin-top:5.7em;
		margin-left:-38em;
		height:35em;
		width:45em;
	}
	#warrior {
		margin-top:38em;
		margin-left:-37.5em;
		height:22em;
		width:30em;
	}
	#angular {
		width:6em;
		height:6em;
		margin-left:19em;
		margin-top:-18.5em;
	}	
	#bootstrap {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-21.5em;
	}
	#codeigniter {
		width:6em;
		height:6em;
		margin-left:19.2em;
		margin-top:2em;
	}
	#css {
		width:6em;
		height:6em;
		margin-left:34.5em;
		margin-top:-41.5em;
	}
	#django {
		width:6em;
		height:6em;
		margin-left:42em;
		margin-top:-44em;
	}
	#express {
		width:6em;
		height:6em;
		margin-left:50em;
		margin-top:-47.5em;
	}
	#flask {
		width:6em;
		height:6em;
		margin-left:19.2em;
		margin-top:-32.5em;
	}
	#github {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-35em;
	}
	#html {
		width:6em;
		height:6em;
		margin-left:34.5em;
		margin-top:-39em;
	}
	#jquery {
		width:6em;
		height:6em;
		margin-left:50em;
		margin-top:-41.5em;
	}
	#js {
		width:6em;
		height:6em;
		margin-left:58em;
		margin-top:-62.5em;
	}
	#mongodb {
		width:6em;
		height:6em;
		margin-left:58em;
		margin-top:-47.5em;
	}
	#nodejs {
		width:6em;
		height:6em;
		margin-left:42em;
		margin-top:-51em;
	}
	#php {
		width:6em;
		height:6em;
		margin-left:35em;
		margin-top:-38.3em;
	}
	#python {
		width:6em;
		height:6em;
		margin-left:58em;
		margin-top:-40.5em;
	}
	#mysql {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-44.5em;
	}
	#apache {
		width:6em;
		height:6em;
		margin-left:42.5em;
		margin-top:-47.5em;
	}
	#aws {
		width:6em;
		height:6em;
		margin-left:50.1em;
		margin-top:-50.5em;
	}
	#tech {
		margin-top:-9em;
		margin-left:21em;
		width:15em;
	}
}
/* iPad & other devices */
@media all and (min-device-width: 481px) and (max-device-width:960px){
	body {
		font-family: Helvetica, Arial, Sans-Serif;
		width:100%;
		height:100em;
		background-color:#C8C8C8;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:40em;
		margin-top:0em;
	}
	.container {
		width:32em;
		height:15em;
		margin-top:-26em;
		margin-left:-31.1em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:80%;
		width:42%;
		margin-top:5em;
		margin-left:3em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.contme {
		margin-left:1em;
		margin-top:-12em;
		width:16em;
	}
	.alantxt {
		font-size:0.9em;
		margin-top:28em;
		margin-left:-34em;
	}
	#line {
		margin-top:-15em;
		width:132em;
		margin-left:-37em;
	}
	.accordion-test {
 		padding: 20px;
  		width: 780px;
	}
	#accordians {
		margin-left:0em;
		width:80.5em;
		margin-top:-61em;
	}
	#gkb {
		position:relative;
		z-index:10;
		margin-left:-32em;
		margin-top:-41.2em;
		height:18em;
		width:30em;
	}
	#swiftshift {
		margin-top:5.7em;
		margin-left:-38em;
		height:35em;
		width:45em;
	}
	#warrior {
		margin-top:38em;
		margin-left:-37.5em;
		height:22em;
		width:30em;
	}
	#angular {
		width:6em;
		height:6em;
		margin-left:19em;
		margin-top:-18.8em;
	}	
	#bootstrap {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-21.5em;
	}
	#codeigniter {
		width:6em;
		height:6em;
		margin-left:19.2em;
		margin-top:-1em;
	}
	#css {
		width:6em;
		height:6em;
		margin-left:34.5em;
		margin-top:-35.5em;
	}
	#django {
		width:6em;
		height:6em;
		margin-left:42.5em;
		margin-top:-38em;
	}
	#express {
		width:6em;
		height:6em;
		margin-left:50em;
		margin-top:-41em;
	}
	#flask {
		width:6em;
		height:6em;
		margin-left:19.2em;
		margin-top:-29.5em;
	}
	#github {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-32.5em;
	}
	#html {
		width:6em;
		height:6em;
		margin-left:34.5em;
		margin-top:-35.5em;
	}
	#jquery {
		width:6em;
		height:6em;
		margin-left:50em;
		margin-top:-39em;
	}
	#js {
		width:6em;
		height:6em;
		margin-left:58em;
		margin-top:-55.5em;
	}
	#mongodb {
		width:6em;
		height:6em;
		margin-left:58em;
		margin-top:-44em;
	}
	#nodejs {
		width:6em;
		height:6em;
		margin-left:42.5em;
		margin-top:-47.5em;
	}
	#php {
		width:6em;
		height:6em;
		margin-left:35em;
		margin-top:-36.3em;
	}
	#python {
		width:6em;
		height:6em;
		margin-left:58em;
		margin-top:-39em;
	}
	#mysql {
		width:6em;
		height:6em;
		margin-left:27em;
		margin-top:-41.5em;
	}
	#apache {
		width:6em;
		height:6em;
		margin-left:42.5em;
		margin-top:-45em;
	}
	#aws {
		width:6em;
		height:6em;
		margin-left:50.1em;
		margin-top:-48em;
	}
	#tech {
		margin-top:-9em;
		margin-left:20em;
		width:15em;
	}
	#pokedex {
		position:relative;
		z-index:10;
		margin-left:-0.3em;
		margin-top:-23.7em;
		height:22em;
		width:34em;
	}
}
@media all and (min-device-width: 961px) and (max-device-width: 1320px) {
	body {
		font-family: Helvetica, Arial, Sans-Serif;
		width:100%;
		height:100em;
		background-color:#C8C8C8;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:40em;
		margin-top:0em;
	}
	.container {
		width:32em;
		height:15em;
		margin-top:-24.5em;
		margin-left:-39.1em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:80%;
		width:42%;
		margin-top:5em;
		margin-left:-5em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.contme {
		margin-left:1em;
		margin-top:-12em;
		width:16em;
	}
	.alantxt {
		font-size:0.9em;
		margin-top:30em;
		width:51em;
		margin-left:-43em;
	}
	#line {
		margin-top:-19em;
		width:132em;
		margin-left:-37em;
	}
	.accordion-test {
 		padding: 20px;
  		width: 780px;
	}
	#accordians {
		margin-left:0em;
		width:48.5em;
		margin-top:-61em;
	}
	#pokedex {
		position:relative;
		z-index:10;
		margin-left:-0.3em;
		margin-top:-23.7em;
		height:22em;
		width:34em;
	}
	#gkb {
		position:relative;
		z-index:10;
		margin-left:-32em;
		margin-top:-41.2em;
		height:18em;
		width:30em;
	}
	#swiftshift {
		margin-top:5.7em;
		margin-left:-38em;
		height:35em;
		width:45em;
	}
	#warrior {
		margin-top:38em;
		margin-left:-37.5em;
		height:22em;
		width:30em;
	}
	#angular {
		width:6em;
		height:6em;
		margin-left:10em;
		margin-top:-18.5em;
	}	
	#bootstrap {
		width:6em;
		height:6em;
		margin-left:17em;
		margin-top:-21.5em;
	}
	#codeigniter {
		width:6em;
		height:6em;
		margin-left:10.2em;
		margin-top:-0.5em;
	}
	#css {
		width:6em;
		height:6em;
		margin-left:23.5em;
		margin-top:-35.5em;
	}
	#django {
		width:6em;
		height:6em;
		margin-left:30em;
		margin-top:-38em;
	}
	#express {
		width:6em;
		height:6em;
		margin-left:37em;
		margin-top:-41em;
	}
	#flask {
		width:6em;
		height:6em;
		margin-left:10.1em;
		margin-top:-29.7em;
	}
	#github {
		width:6em;
		height:6em;
		margin-left:17em;
		margin-top:-32.5em;
	}
	#html {
		width:6em;
		height:6em;
		margin-left:23.5em;
		margin-top:-36em;
	}
	#jquery {
		width:6em;
		height:6em;
		margin-left:44em;
		margin-top:-38.5em;
	}
	#js {
		width:6em;
		height:6em;
		margin-left:44em;
		margin-top:-55.5em;
	}
	#mongodb {
		width:6em;
		height:6em;
		margin-left:37em;
		margin-top:-44.2em;
	}
	#nodejs {
		width:6em;
		height:6em;
		margin-left:30em;
		margin-top:-47em;
	}
	#php {
		width:6em;
		height:6em;
		margin-left:44em;
		margin-top:-36.3em;
	}
	#python {
		width:6em;
		height:6em;
		margin-left:37em;
		margin-top:-38.5em;
	}
	#mysql {
		width:6em;
		height:6em;
		margin-left:17.1em;
		margin-top:-41.5em;
	}
	#apache {
		width:6em;
		height:6em;
		margin-left:23.5em;
		margin-top:-44.5em;
	}
	#aws {
		width:6em;
		height:6em;
		margin-left:30.1em;
		margin-top:-47.5em;
	}
	#tech {
		margin-top:-9em;
		margin-left:14.5em;
		width:15em;
	}
}
@media all and (min-device-width: 1321px) {
	body {
		font-family: Helvetica, Arial, Sans-Serif;
		width:100%;
		height:100em;
		background-color:#C8C8C8;
	}
	#reverse {
		width:32em;
		position: relative; 
		margin-left:40em;
		margin-top:0em;
	}
	.container {
		width:32em;
		height:15em;
		margin-top:-24.5em;
		margin-left:-31.1em;
	}
	.front .back {
		width: 32em; 
		height: 15em; 
		-webkit-transform: rotateY(180deg);
	}
	.container {
		width: 32em;
		height:15em;
		-webkit-perspective: 1000;
	}
	.card {
		width: 32em; 
		height: 15em;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: 0.5s;
	}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}
	.face {
		position: absolute;
		-webkit-backface-visibility: hidden;
	}
	.front {
		z-index: 10;
	}
	.container:hover .front {
		z-index: 0;
	}
	#buscardfront {
		width:32em;
		height:15em;
	}
	#buscardback {
		position:relative;
		width:32em;
		height:15em;
		margin-right:-20px;
	}
	#alan {
		height:80%;
		width:42%;
		margin-top:5em;
		margin-left:3em;
		padding:2px;
		border:5px solid black;
		border-radius:5px;
	}
	.contme {
		margin-left:1em;
		margin-top:-12em;
		width:16em;
	}
	.alantxt {
		font-size:0.9em;
		margin-top:30em;
		margin-left:-34em;
	}
	#line {
		margin-top:-19em;
		width:132em;
		margin-left:-37em;
	}
	.accordion-test {
 		padding: 20px;
  		width: 780px;
	}
	#accordians {
		margin-left:0em;
		width:95.5em;
		margin-top:-62.5em;
	}
	#gkb {
		position:relative;
		z-index:10;
		margin-left:-32em;
		margin-top:-41.2em;
		height:18em;
		width:30em;
	}
	#pokedex {
		position:relative;
		z-index:10;
		margin-left:-0.3em;
		margin-top:-23.7em;
		height:22em;
		width:34em;
	}
	#swiftshift {
		margin-top:5.7em;
		margin-left:-38em;
		height:35em;
		width:45em;
	}
	#warrior {
		margin-top:38em;
		margin-left:-37.5em;
		height:22em;
		width:30em;
	}
	#angular {
		width:6em;
		height:6em;
		margin-left:28em;
		margin-top:-18.5em;
	}	
	#bootstrap {
		width:6em;
		height:6em;
		margin-left:38em;
		margin-top:-21.5em;
	}
	#codeigniter {
		width:6em;
		height:6em;
		margin-left:28em;
		margin-top:1.5em;
	}
	#css {
		width:6em;
		height:6em;
		margin-left:47.5em;
		margin-top:-39.5em;
	}
	#django {
		width:6em;
		height:6em;
		margin-left:57em;
		margin-top:-42em;
	}
	#express {
		width:6em;
		height:6em;
		margin-left:66em;
		margin-top:-44.8em;
	}
	#flask {
		width:6em;
		height:6em;
		margin-left:28.1em;
		margin-top:-31.7em;
	}
	#github {
		width:6em;
		height:6em;
		margin-left:38em;
		margin-top:-34.5em;
	}
	#html {
		width:6em;
		height:6em;
		margin-left:47.5em;
		margin-top:-37.5em;
	}
	#jquery {
		width:6em;
		height:6em;
		margin-left:75em;
		margin-top:-39.5em;
	}
	#js {
		width:6em;
		height:6em;
		margin-left:75em;
		margin-top:-59em;
	}
	#mongodb {
		width:6em;
		height:6em;
		margin-left:66em;
		margin-top:-45.2em;
	}
	#nodejs {
		width:6em;
		height:6em;
		margin-left:57em;
		margin-top:-48em;
	}
	#php {
		width:6em;
		height:6em;
		margin-left:66.5em;
		margin-top:-36.3em;
	}
	#python {
		width:6em;
		height:6em;
		margin-left:75em;
		margin-top:-38.5em;
	}
	#mysql {
		width:6em;
		height:6em;
		margin-left:38em;
		margin-top:-41.5em;
	}
	#apache {
		width:6em;
		height:6em;
		margin-left:47.5em;
		margin-top:-44.5em;
	}
	#aws {
		width:6em;
		height:6em;
		margin-left:57.1em;
		margin-top:-47.5em;
	}
	#tech {
		margin-top:-9em;
		margin-left:28.5em;
		width:15em;
	}
}